---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <h2>What is xGraph?</h2>

  <p>xGraph supports no-stack development. Each part of an <a href="">xGraph System</a> contains functional code,
    but parts can contain and manage data as well. This means that xGraph systems do not need to interact with
    an external database: everything a system needs can be built using the xGraph platform.</p>

  <p>xGraph facilitates edge control, making development of complex systems easy. The
    <a href="">xGraph core</a> handles communication between the parts of an xGraph system, using JSON
    objects to pass messages.</p>

  <a href="">Get started building xGraph systems and modules with the xgraph executable.</a>

</div>
